*.zip
*.json
*.csv
*.xlsx
*.xls
/.Rproj.user
*.html
*.Rproj
*.Rmd
water*
hp_out_myworkspace*
*.Rhistory
*.RData
.darts/checkpoints/2021-08-19_15.27.04.234065_torch_model_run_6088/checkpoint_27.pth.tar
.darts
123